body
    margin: 0
#fond
    background: url(../public/img/banner.jpg)
    height: 80vh

ul
    list-style: none

header
    color: #bebebe
header 
        nav
            span
                font-weight: bold
                color: white
header nav
            display: flex
            justify-content: space-between
            align-items: center
header nav ul 
        display: flex
header nav ul li
    margin-left: 10px
             

     